<div class="container">
  <% @entries.each do |entry| %>
    <div class="comment">
      <div class="comment-image">
        <img src="">
      </div>
      <div class="comment-content">
        <h1><%= link_to entry.title, entry %></h1>
      </div>
    </div>
  <% end %>
</div>
